@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: rotation 5s linear infinite;
}

:root {
  --main-black: #1A1A25;
  --main-background: #F6F6F6;
  --main-pink: #CB11AB;
  --max-width: 1440px;
}

/* !SCROOL */
::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 10px;
}

body {
  box-sizing: border-box;
    background:black;
}

.background {
  background-color: #1A1A25;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin-inline: auto;
	padding-inline: 20px
}

.main-black-background {
  background-color: var(--main-black);
}

.main-pink-background {
  background-color: #CB11AB;
}

.max-container{
  max-width: var(--max-width);
  margin:0 80px
}


.shape {
  cursor: pointer;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.image {
  pointer-events: none;
}
